
body {
    background: #fff;
    color: #666;
    font-family: 'Open Sans',arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
div {
    display: block;
}
form label {
    color: #000;
}
.contenedor{
width: 98%;
margin:auto;
}
.pie p {
    font-size: 19px;
    text-align: center;
    color: #00304e;
    margin: 20px 0 0 0;
    font-style: italic;
    font-family: 'MyriadPro-Regular';
}
  .navbar-nav {
    width: 100%;
    text-align: center;
   
  }
  
    .navbar-nav > li {
      float: none;
      display: inline-block;
    }

p {
    margin: 10px 0;
}
hr {
  height: 2px;
  background-color: blue;
}
p.telefono {
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: 'MyriadPro-Bold';
    line-height: 22px;
  padding-top: 4px;
    padding-right: 220px;
  
}

body input[type="text"]{
        width: 100%;
    font-family: 'Open Sans',arial,sans-serif;
    font-size: 16px;
    display: block;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -o-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -ms-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
body .hs-button.primary, body input[type="button"] {
    border-style: solid;
    border-width: 2px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    font-family: 'Montserrat',sans-serif;
    padding: 8px 16px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 12px;
    font-size: 16px;
    line-height: 1.42857143;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    color: #fff;
    border-top: 0;
    -webkit-appearance: none;
    background-color: #cf002a;
    width: 100%;
    font-weight: 600;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
}
body label {
    margin-bottom: 5px;
    font-weight: 700;
}
h2{
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.sidebar-form {
    border: 1px solid #000;
    padding: 20px 25px 35px 25px;
}
.lp{
    color: #00304e;
    font-size: 34px;
    line-height: 36px;
   
    margin: 30px 0 30px 0;
    font-family: 'Mwinthorpe-bd';
}
p {
    margin: 10px 0;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.lp p.sub
{
    color: #000;
    font-size: 22px;
    line-height: 22px;
    font-family: 'MyriadPro-Regular';
}
.sociales {
	width: 100%;
	text-align:center;
	font-size: 28px;
}

.sociales a {

	color: #333;
	text-decoration:none;
	
}

strong{
        font-weight: bold;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.lp ul li{
    list-style-image: url(//cdn2.hubspot.net/hubfs/1621751/Site/bullet_rojo.png?t=1496074583032);
    font-size: 22px;
    margin-bottom: 22px;
    line-height: 20px;
    color: #000;
}
ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.header-container {
    padding: 0;
    background: #a4061f;
    z-index: 9999;
}


.nav_color{
	
	background:#142A9A!important;
	height:90px!important;
}

.nav_logo{
	
	height:80%;
	width:80%;
	padding-bottom: 2px;
	float: left;
	padding-right: 20px;
	
}
.img{
	display: block;
	 margin-left: 
	 auto; margin-right:
	  auto; width: 100px;
	height: 100%;
	
}
img.lp{
        float: right;
    margin-top: 10px;
}

.imagenprincipal{
	width: 70%;
	height: 74%;
	border-radius: 90%;
	border: 7px solid #fff;
	
}
.derecha{
    
    top:30px;
    background: #000088;
    width:100%;
    height: 100%;
   
}



.nopaddin{
     padding: 0px !important;
    margin: 0 !important;
}
 footer{ 
     height: 100px;
        width:100%;
         background:#fff; 
         margin-top:100px;
         display:block;
 }
 
 footer .contenedor {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}
 
 
.sociales {
	width: 100%;
	text-align:right;
	font-size: 28px;
        padding-right: 20px;
      
}

.sociales a {

	color: #333;
	text-decoration:none;
	
}




/* Personalizado */
input.form-control.input-rounded{
    border-radius: 30px;
}

.form-group.has-success .form-control,
.form-group.has-warning .form-control,
.form-group.has-error .form-control {
    box-shadow: none;
}

.form-group.has-success .form-control:focus {
    border: 1px solid #22BAA0;
    background: #fff;
}

.form-group.has-warning .form-control:focus {
    border: 1px solid #f6d433;
    background: #fff;
}

.form-group.has-error .form-control:focus {
    border: 1px solid #f25656;
    background: #fff;
}

.has-warning .form-control:hover {
  
      border-color: #E0DD08;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);           
}

.form-group.has-success label {
    color: #22BAA0;
}

.form-group.has-warning label {
    color: #f6d433;
}

.form-group.has-error label {
    color: #f25656;
}




@media (min-width: 1024px) { /*tamaño pantalla pc*/
	
  .sociales #face:hover {
	color: blue;
}

	.sociales #youtobe:hover{
	color: red;
	}
	.sociales #insta:hover{
		color:rgb(233, 89, 80);
	}

	.sociales #twitter:hover{
		color:#46C2F4;
	}


}



/*Telefonos moviles*/
@media only screen and (min-device-width: 480px){
 .nav_logo {
	padding-left: 0;
	width: 10px;
	
	}


     
}

/*Tablets*/
@media only screen and (min-device-width: 768px){

.sociales{
		width: auto;
              

	}


	
	footer .contenedor{
		justify-content: space-between;
	}
}